/* Googfloatinge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('../css/vendor/bootstrap.min.css');
@import url('../css/vendor/fontawesome.css');
@import url('../css/vendor/brands.css');
@import url('../css/vendor/regular.css');
@import url('../css/vendor/solid.css');
@import url('../css/vendor/swiper-bundle.min.css');
@import url('../css/vendor/rtmicons.css');

@property --progress {
	syntax: '<integer>';
	inherits: true;
	initial-value: 0;
}

@keyframes load {
	to {
		--progress: var(--value)
	}
}

@keyframes background_animation {
	from {
		background-size: 100%;
	}

	to {
		background-size: 110%;
	}
}

@keyframes ripple {
	from {
		opacity: 1;
		transform: scale3d(1, 1, 1);
		transform-origin: center;
		border-width: 0px;
	}

	to {
		opacity: 0;
		transform: scale3d(1.7, 1.7, 1.8);
		transform-origin: center;
		border-width: 13px;
	}
}


:root {
	--primary: #FFFFFF;
	--text-color: #122426;
	--text-color-2: #FAFAFA;
	--background-color: #F2F2F2;
	--accent-color: #2868ED;
	--accent-color-2: #FFDADA;
	--font-1: "Plus Jakarta Sans", sans-serif;
	--font-2: "Roboto", sans-serif;

}

body {
	font-family: var(--font-1);
	color: var(--text-color);
	background-color: var(--primary);
}


h1 {
	font-size: 68px;
}

h2 {
	font-size: 54px;
}

h3 {
	font-size: 54px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 23px;
}

h6 {
	font-size: 21px;
}

button,
a {
	font-size: 18px;
	font-family: var(--font-2);
}

p {
	font-size: 16px;
	font-family: var(--font-2);
	color: var(--text-color);
}

ul {
	list-style: none;
}

.list-circle {
	list-style: disc var(--accent-color);
}

li {
	font-size: 16px;
}

img {
	object-fit: cover;
}

button {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	text-decoration: none;
	transition: all 0.5s;
}

.sub-heading {
	color: var(--accent-color);
}

.text-color {
	color: var(--text-color);
}

.text-color-2 {
	color: var(--text-color-2);
}

.hover-transform:hover {
	transform: translateY(-10px);
}

button:hover {
	color: var(--text-color);
}

a {
	text-decoration: none;
}

.w-max-content {
	width: max-content;
}

.banner-heading {
	font-size: 5.5rem;
}

.font-1 {
	font-family: var(--font-1);
}

.font-2 {
	font-family: var(--font-2);
}

.ls-2 {
	letter-spacing: 2px;
}

.fs-7 {
	font-size: 0.8rem !important;
}

.fw-black {
	font-weight: 900 !important;
}

.bg-accent-primary {
	background-color: var(--primary);
}

pre {
	background: #f5f5f5;
	padding: 14px 19px;
	margin: 23px 0px 25px;
	line-height: 25px;
	word-break: break-all;
	word-wrap: break-word;
}

hr {
	background: #ddd;
	color: #ddd;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 27px 0px 34px;
	border: none;
}

.append-bottom{
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 17px;
}

#header {
	transition: all 0.5s ease;
}

.navbar-nav .nav-link:focus {
	color: var(--text-color);
	text-align: center;
}

.navbar-nav .nav-link.show {
	color: var(--text-color);
}

.nav-link {
	border-bottom: 2px solid transparent;
	font-size: 18px;
	font-family: var(--font-2);
	padding-block: 1.2rem;
	color: var(--text-color);
	text-align: center;
}

.nav-link:hover {
	font-weight: bold;
	text-align: center;
}

.nav-link.active {
	color: var(--text-color) !important;
	text-align: center;
}

.navbar-toggler {
	border: none;
	color: var(--accent-color);
}

.navbar-toggler:focus {
	box-shadow: none;
	background-color: transparent;
	color: var(--accent-color-2);
}

.dropdown-menu {
	border-radius: 0;
	border: none;
	padding: 0;
	width: 200px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
	padding-block: 0.75rem;
	color: var(--accent-color);
	font-family: var(--font-1);
	font-size: 0.95rem;
	font-weight: 400;
	padding-inline: 0.75rem;
	text-align: center;
}

.dropdown-item.active {
	color: var(--text-color);
	background-color: transparent;
}

.dropdown-item:hover {
	background-color: var(--accent-color);
	color: white;
}

.dropdown-item:focus {
	color: var(--accent-color);
}

.logo-container {
	max-width: 180px;
}

.sidebar-tabs {
	display: flex;
	margin: auto;
}

.tab-nav {
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
}

.tab-link {
	padding: 20px;
	text-align: left;
	color: var(--accent-color);
	background-color: var(--background-color);
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.tab-link.active {
	font-weight: bold;
	background-color: var(--accent-color);
	transition: all 0.3s;
	color: var(--text-color-2);
}

.tab-link.active:hover {
	color: var(--text-color-2);
}

.tab-link:hover {
	font-weight: bold;
	color: var(--accent-color);
}

.tab-content-container {
	width: 80%;
	padding-left: 50px;
}

/* Make transition effect for tab content */
.tab-content {
	opacity: 0;
	transition: opacity 0.8s ease;
	display: none;
	/* Hide all by default */
}

.tab-content.show {
	display: block;
	opacity: 1;
}

#theme-wrapper{
	display: block;
	width: 100%;
}

.section {
	padding: 2em 2em 2em 2em;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.r-container {
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
}

/* ========== CONTENT ========== */
#theme-content{
	display: block;
	width: calc(100vw - 35% );
	color: #333;
	padding: 52px;	
	float: right;
}

#theme-content a{
	text-decoration: none;
	color: #0062D2;
}

#theme-content a:hover{
	text-decoration: underline;
}

#theme-content-heading{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

#theme-content-info{
	border:1px solid #e5e5e5;
	border-left:0px;
	border-right:0px;
	margin: 27px 0px 40px;
	display: table;
}

#theme-content-info-created,
#theme-content-info-description{
	padding: 23px 30px;
	display: table-cell;
	vertical-align: top;
}

#theme-content-info-created{
	width: 35%;
	background: #f7f7f7;
	font-weight: bold;
	line-height: 26px;
	font-size: 15px;
	color: #555;
}

#theme-content-info-description{
	width: 65%;
	line-height: 26px;
}

#theme-content-body {
	line-height: 27px;
	color: #000;
}

#theme-content-body h1,
#theme-content-body h2,
#theme-content-body h3 {
	margin-bottom: 14px;
}

#theme-content-body p {
	margin: 0px 0px 22px 0px;
}

#theme-content-body ol,
#theme-content-body ul{
	margin: 7px 0px 14px 25px;
}

/* ========== CONTENT ========== */



/* ========== RESPONSIVE ========== */
@media only screen and (max-width: 995px) {
	.logo-container {
		max-width: 100px;
	}
}

/* ========== RESPONSIVE ========== */